@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor0: #FDF7D1; /*fundo da página*/
    --cor1: #E3FFC6; /*verde bem clarinho*/
    --cor2: #BBFFB8; /*verde claro*/
    --cor3: #00F289; /*padrão*/
    --cor4: #26BF7D; /*verde forte*/
    --cor5: #388C68; /*verde escuro*/
    --cor6: #36594A; /*verde muito escuro*/
    --cor7: #29332F; /*preto esverdeado*/

    --fonte-titulo-site: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor0);
    margin: 0px;
}

header {
    background-image: linear-gradient(var(--cor3), var(--cor7));
}

header > h1 {
    font-family: var(--fonte-titulo-site);
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 50px;
}

header > p {
    color: white;
    text-align: center;
    margin: 30px;
}

header > nav {
    padding: 15px;
}

header > nav > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 15px;
}

header > nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    max-width: 850px;
    margin: auto;
    box-shadow: 0px 0px 5px 3px #18523239;
    border-radius: 0px 0px 10px 10px;
}

main p {
    text-align: justify;
    text-indent: 2em;
    margin: 5px 0px 10px 0px;
}

main img {
    padding: 10px;
    display: block;
    margin: auto;
}

main > article {
    padding: 10px 20px;
}

main > article > h1 {
    font-family: var(--fonte-android);
    font-size: 1.5em;
    color: #185232;
}

main > article > h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color:#185232;
    background-image: linear-gradient(90deg, #78ce9f5d, white);
}

main > section#video {
    background-color: #185232;
    padding: 20px;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.426);
}

main > section#video > iframe {
    display: block;
    margin: auto;
}

main > section#extra {
    background-color: #78ce9f5d;
    margin: 5px 20px;
    border-radius: 15px;
    padding-bottom: 20px;
}

main > section#extra > h1 {
    border-radius: 15px 15px 0px 0px;
    background-color: #278e56;
    font-size: large;
    font-weight: bolder;
    padding: 10px;
    color: white;
}

main > section#extra > p {
    padding: 0px 10px;
}

footer {
}
