@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #B0D1D9, #41A8BF);
}

main {
    background-color: whitesmoke;
    max-width: 800px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

h1 {
    font-size: 1.5em;
    color: #A66946;
    text-align: center;
    text-shadow: 1px 1px 2px #7342266f;
}

h2 {
    font-size: 1.2em;
    color: #f2b077;
}

p {
    text-align: justify;
}